<input type="button" id="system" ctrltype="field" style="border:0px;background:blue;color:white;" name="system" value="[系统号]" /> <input type="button" id="module" ctrltype="field" style="border:0px;background:blue;color:white;" name="module" value="[模块号]" />
<table width="100%" cellspacing="0" cellpadding="0" border="1" align="center" class="datatable">
    <tbody>
        <tr>
            <td class="caption" style="width:150px;"><input type="button" id="$$code" ctrltype="title" style="border:0px;" name="$$code" value="框架号:" /></td>
            <td><input type="button" id="code" ctrltype="field" style="border:0px;background:blue;color:white;" name="code" value="[框架号]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$name" ctrltype="title" style="border:0px;" name="$$name" value="框架名:" /></td>
            <td><input type="button" id="name" ctrltype="field" style="border:0px;background:blue;color:white;" name="name" value="[框架名]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$style" ctrltype="title" style="border:0px;" name="$$style" value="式样:" /></td>
            <td><input type="button" id="style" ctrltype="field" style="border:0px;background:blue;color:white;" name="style" value="[式样]" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="button" id="$action-save" ctrltype="action" name="$action-save" value="保存" /> <input type="button" id="$action-update" ctrltype="action" name="$action-update" value="修改" /> <input type="button" id="$action-exit" ctrltype="action" name="$action-exit" value="返回" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" id="item" ctrltype="field" style="border:0px;background:blue;color:white;" name="item" value="[布局条目]" /></td>
        </tr>
    </tbody>
</table>
