<table width="100%" cellspacing="0" cellpadding="0" border="1" align="center" class="datatable">
    <tbody>
        <tr>
            <td class="caption" style="width:150px;"><input type="button" id="$$code" ctrltype="title" style="border:0px;" name="$$code" value="布局号:" /></td>
            <td><input type="button" id="code" ctrltype="field" style="border:0px;background:blue;color:white;" name="code" value="[布局号]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$name" ctrltype="title" style="border:0px;" name="$$name" value="布局名:" /></td>
            <td><input type="button" id="name" ctrltype="field" style="border:0px;background:blue;color:white;" name="name" value="[布局名]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$icon" ctrltype="title" style="border:0px;" name="$$icon" value="预览图片:" /></td>
            <td><input type="button" id="icon" ctrltype="field" style="border:0px;background:blue;color:white;" name="icon" value="[预览图片]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$style" ctrltype="title" style="border:0px;" name="$$style" value="css式样:" /></td>
            <td><input type="button" id="style" ctrltype="field" style="border:0px;background:blue;color:white;" name="style" value="[css式样]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$body" ctrltype="title" style="border:0px;" name="$$body" value="html内容:" /></td>
            <td><input type="button" id="body" ctrltype="field" style="border:0px;background:blue;color:white;" name="body" value="[html内容]" /></td>
        </tr>
        <tr>
            <td class="caption"><input type="button" id="$$cnts" ctrltype="title" style="border:0px;" name="$$cnts" value="容器:" /></td>
            <td><input type="button" id="cnts" ctrltype="field" style="border:0px;background:blue;color:white;" name="cnts" value="[容器]" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="button" id="$action-save" ctrltype="action" name="$action-save" value="保存" /> <input type="button" id="$action-update" ctrltype="action" name="$action-update" value="修改" /> <input type="button" id="$action-exit" ctrltype="action" name="$action-exit" value="返回" /></td>
        </tr>
    </tbody>
</table>
